<?xml version="1.0"?>
<!--
/**
 *
 * @category   Webiators
 * @package    Webiators_Root
 * @author     Webiators Team
 * @copyright  Copyright (c) Webiators Technologies Private Limited. ( https://store.webiators.com ).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Webiators_Root" setup_version="1.0.0">
    </module>
</config>