<?xml version="1.0"?>
<!--
/**
 *
 * @category   Webiators
 * @package    Webiators_Root
 * @author     Webiators Team
 * @copyright  Copyright (c) Webiators Technologies Private Limited. ( https://store.webiators.com ).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webiators_Root::wtrootmenu" title="Webiators" module="Webiators_Root" sortOrder="10" resource="Webiators_Root::wtrootmenu"/>
    </menu>
</config>